/* Ändere die Hintergrundfarbe und die Textfarbe des Carousel-Textes */
.carousel-caption {
    color: #333; /* Dunkelgraue Textfarbe */
}

.navbar {
    z-index: 1; /* Stelle sicher, dass die Navbar über dem Bild liegt */
}

* {
    font-family: Outfit, serif, "Apple Chancery";
}

.header {
}


.header-content {
    position: absolute;
    top: 48%;
    left: 42%;
    transform: translate(-50%, -50%);
}


.navbar .navbar-nav .nav-link {
    color: white; /* Ensure the navbar text is white */
}

body {
    background: #FFF7F1;
}

.footer {
    background-color: #27224B;
    color: #AAA8B3;
}

.footer-head {
    font-weight: bold;
}

ul.no-bullets {
    list-style-type: none;
}
