.navbar {
    z-index: 1; /* Ensure the navbar is positioned above the image */
}

* {
    font-family: Outfit, serif, "Apple Chancery";
}

.header {
}

.header img {
    width: 100%;
    height: auto;
}

.header-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header {
    position: relative;
    color: white;
}


.navbar .navbar-nav .nav-link {
}

body {
    background: #FFF7F1;
}

.footer {
    background-color: #27224B;
    color: #AAA8B3;
}

.footer-head {
    font-weight: bold;
}

ul.no-bullets {
    list-style-type: none;
}
